<div class="col-lg-6">
  <article>

    <div class="post-img">
      <% if !post.thumbnail.nil? %>
        <img src="<%= post.thumbnail %>" class="img-fluid" alt="">
      <% elsif !post.youtube_id.nil? %>
        <img src="<%= post.youtube_thumbnail %>" class="img-fluid" alt="">
      <% else %>
        <img src="https://placebear.com/600/400" class="img-fluid" alt="">
      <% end %>
    </div>

    <!-- <p class="post-category">Politics</p> -->

    <h2 class="title">
      <%= link_to post.title, post %>
    </h2>

    <div class="d-flex align-items-center">
      <!-- <img src="assets/img/person/person-f-12.webp" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
      <div class="post-meta">
        <!-- <p class="post-author">Maria Doe</p> -->
        <p class="post-date">
          <time datetime="<%= post.posted_at.strftime("%Y-%m-%d") %>"><%= l post.posted_at.to_date %></time>
        </p>
      </div>
    </div>

  </article>
</div><!-- End post list item -->
