<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
    <%= content_for(:title) ? yield(:title) + " - " : "" %><%= @site.name %>
  </title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Favicons -->
  <link href="/zenblog/assets/img/favicon.png" rel="icon">
  <link href="/zenblog/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/zenblog/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/zenblog/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/zenblog/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/zenblog/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/zenblog/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Updated: Aug 08 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- hightlight.js -->
  <!-- https://highlightjs.org/#usage -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

  <!-- and it's easy to individually load additional languages -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

  <script>hljs.highlightAll();</script>

  <style>
    #blog-details h3 {
        margin: 32px 0 16px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgb(0 0 0 / 12%);
    }
    #blog-details h4 {
        font-size: 1.2rem;
    }

    .title, .post-title, .post-content, .content {
        font-family:
            "Noto Sans JP",  /* Web フォントを使う場合 */
            "Helvetica Neue",
            "Arial",
            "Hiragino Kaku Gothic ProN",
            "Hiragino Sans",
            "Meiryo",
            sans-serif;
    }

    .readmore {
        font-family: var(--default-font);
    }
    
  </style>

  <%= render "layouts/analytics" %>
</head>

<body>
  
  <%= yield :header %>

  <main class="main">

    <%= yield :page_title %>

    <%= yield %>

  </main>

  <%= yield :footer %>
  
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/zenblog/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/zenblog/assets/vendor/php-email-form/validate.js"></script>
  <script src="/zenblog/assets/vendor/aos/aos.js"></script>
  <script src="/zenblog/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/zenblog/assets/js/main.js"></script>

</body>

</html>
