<article class="entry">

  <!--
  <div class="entry-img">
    <img src="/assets/sailor/img/blog/blog-1.jpg" alt="" class="img-fluid">
  </div>
  -->

  <h2 class="entry-title">
    <%= link_to post.title, post %>
  </h2>

  <div class="entry-meta">
    <ul>
      <!--
      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single">John Doe</a></li>-->
      <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
        <%= link_to post do %>
          <time datetime="2020-01-01"><%= l post.posted_at.to_date %></time>
        <% end %>
      </li>
      <!--
      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single">12 Comments</a></li>-->
    </ul>
  </div>

  <div class="entry-content">
    <%= strip_tags(post.content).truncate(100) %>
    <div class="read-more">
      <%= link_to "Read More", post %>
    </div>
  </div>

</article><!-- End blog entry -->

  
